
<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"right":"0","left":"0","top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
     <!-- wp:pattern {"slug":"featured/social-management"} /-->
    <!-- wp:pattern {"slug":"featured/banner"} /-->
    <!-- wp:pattern {"slug":"featured/marketing-agency"} /-->
    <!-- wp:pattern {"slug":"featured/client"} /-->
    <!-- wp:pattern {"slug":"featured/services"} /-->
    <!-- wp:pattern {"slug":"featured/success"} /-->
    <!-- wp:pattern {"slug":"featured/testimonial"} /-->
    <!-- wp:pattern {"slug":"featured/our-works"} /-->
    <!-- wp:pattern {"slug":"featured/team"} /-->
    <!-- wp:pattern {"slug":"featured/blog"} /-->
    <!-- wp:pattern {"slug":"featured/faq"} /-->
    <!-- wp:pattern {"slug":"featured/form"} /-->

</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
